*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: aqua;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 18px;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #bd6cff;
    te
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid aqua;
    color: aqua;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 13px;
}

::placeholder{
    color: rgb(216, 216, 216);
    
}

.btn{
    width: 100px;
    height: 40px;
    background: cyan;
    border: 2px solid aqua;
    margin-top: 13px;
    color: white;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    margin-top: 50px;
}

.content .par{
    padding-left: 28px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.3px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(255, 0, 255);
    border: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.cn:hover{
    background-color: rgb(180, 1, 180);
}

.content span{
    color: rgb(6, 6, 51);
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: transparent;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 2);
    margin-top: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    backdrop-filter: blur(20px);
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: wheat;
    font-size: 22px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid cyan;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

.placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.btn2{
    width: 240px;
    height: 40px;
    background: cyan;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s;
}

.lg{
    text-decoration: none;
    color: rgb(253, 253, 253);
    font-weight: bold;
}
.btn2:hover{
    background: rgb(0, 177, 184);
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: cyan;
}

.form .link a:hover{
    text-decoration: underline;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: white;
}

.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover{
    color: cyan;
}

h3{
    text-decoration: none;
    color: white;
}

.owner{
    text-decoration: none;
    font-size: 10px;
}

.dev{
    margin-left: 25px;
    margin-top: 30px;
}
h3:hover{
    color: gold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 2);
}